@use 'sass:color';

:root {
    // Theme Color
    $primary: rgb(60 60 237);

    --color-primary: #{$primary};
    --color-primary-dark: #{color.scale($primary, $lightness: -15%)};
    --color-primary-darker: #{color.scale($primary, $lightness: -30%)};
}
