.legend {
    position: absolute;
    bottom: var(--space);
    left: var(--space);
    width: fit-content;
    margin-top: var(--space);
    margin-left: 0;
    height: fit-content;
    background-color: var(--background-content);
    box-shadow: var(--shadow-lifted);
    border-radius: var(--border-radius);
    padding: var(--space);
    font-size: var(--font-sm);
    display: flex;
    flex-direction: row;
    gap: var(--space);

    @include respond-max($screen-sm) {
        flex-direction: column;
    }
}
