.visualization {
    width: 100%;
    background-color: #f3f3ff;
    border-radius: var(--border-radius);
    margin-bottom: $xl;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: $md;

    .map {
        width: 100%;
        height: 650px;
        position: relative;
        border-radius: var(--border-radius);

        .tools {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: $sm;
            position: absolute;
            bottom: $md;
            right: $md;
            padding: $sm;
            height: 56px;
            background-color: var(--color-surface-foreground);
            box-shadow: var(--shadow-lifted);
            border-radius: var(--border-radius);
        }
    }

    .legend {
        position: absolute;
        bottom: $md;
        left: $md;
        width: fit-content;
        margin-top: $md;
        margin-left: 0;
        height: fit-content;
        background-color: var(--color-surface-foreground);
        box-shadow: var(--shadow-lifted);
        border-radius: var(--border-radius);
        padding: $md;
        font-size: $font-sm;
        display: flex;
        flex-direction: row;
        gap: $md;
    }
}
