.visualization {
    width: 100%;
    background-color: #f3f3ff;
    border-radius: var(--border-radius);
    margin-bottom: var(--space-lg);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: var(--space);

    .map {
        width: 100%;
        height: 650px;
        position: relative;
        border-radius: var(--border-radius);

        .tools {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: var(--space-sm);
            position: absolute;
            bottom: var(--space);
            right: var(--space);
            padding: var(--space-sm);
            height: 56px;
            background-color: var(--color-background-foreground);
            box-shadow: var(--shadow-lifted);
            border-radius: var(--border-radius);
        }
    }
}

.tooltip {
    position: absolute;
    min-width: 150px;
    background: var(--color-background-foreground);
    border: var(--border-light);
    padding: var(--space-sm);
    display: none;
}
