.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 var(--space-lg);

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
    }

    .links {
        display: flex;
        align-items: center;
        gap: var(--space-sm);
    }
}

.newslab {
    margin-left: var(--space-lg);
    font-size: var(--font-sm);

    a {
        text-decoration: none !important;
        color: var(--color-text) !important;
    }
}

.locationPopover {
    min-width: 320px !important;
}
