@use 'sass:math';

.header {
    --v-header-height: 64px;

    @include responsive-width;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--v-header-height) !important;
    background-color: var(--color-surface-foreground);
    border-bottom: var(--border-light);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;

    .content {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 $lg;

        .navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: auto;
        }

        .links {
            display: flex;
            align-items: center;
            gap: $xs;
        }
    }

    &::before {
        content: '';
        position: absolute;
        background-color: var(--color-surface-foreground);
        width: 100%;
        height: 400px;
        top: -400px;
    }
}

.logo {
    text-decoration: none;
    margin: 0;
}

.tools {
    display: flex;
    flex-direction: column;
    gap: $sm;
}
