.content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 $lg;

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
    }

    .links {
        display: flex;
        align-items: center;
        gap: $xs;
    }
}

.newslab {
    margin-left: $lg;
    font-size: $font-sm;

    a {
        text-decoration: none !important;
        color: var(--color-text) !important;
    }
}

.locationPopover {
    min-width: 320px !important;
}
