.table {
    tr {
        height: 52px;
    }
}

.page {
    > section:first-child {
        padding-top: var(--space-lg) !important;
    }
}

.currentLocationSearch {
    position: relative;
    width: 100%;

    > button {
        width: 36px;
        height: 36px;
        position: absolute;
        right: 6px;
        top: 14px;
    }
}
